<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadHub | Homepage</title>
    <link rel="stylesheet" href="style/home.css">
    <link rel="shortcut icon" href="asset\logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="anchor">
            <a href="#"><img src="asset\logo-removebg-preview.png" alt="logo_bg_rm" class="logo_header"></a>
            <nav class="nav_header">
                <a href="#" class="txt_header" style="color: #36C8C8;">Home</a>
                <a href="features.html" class="txt_header">Features</a>
                <a href="support.html" class="txt_header">Support</a>
                <a href="blog.html" class="txt_header">Blog</a>
                <img src="asset\loupe.png" alt="loupe" class="img_header">
                <a href="cart.html" target="_blank"><img src="asset\cart.png" alt="cart" class="img_header"></a>
                <a href="user.html" target="_blank"><img src="asset\user.png" alt="user" class="img_header"></a>
            </nav>
        </nav>
    </header>
    <div class="sentence_haut">
        <img src="https://trello.com/1/cards/651d91910538041bd6f7bbba/attachments/651d91a58b5516f7d0f5075f/download/livre_bibli.jpg"
            class="hautp">
        <h3 class="txt_img">Instant acces to<br>books, worldwide</h3>
        <div class="background">
            <p>The shipping time is<br><strong>business days</strong></p>
            <p>
                <hr>Reply duration<br><strong>2 hours</strong>
            </p>
            <p>
                <hr>Customer service is open today<br><strong>8AM -8PM</strong>
            </p>
        </div>
    </div>
    <div id="productsList" class="cover">
        <h2><strong>Featured Books</strong></h2>
      
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script type="module" src="scripts/home.js"></script>
</html>